{% capture tocWorkspace %}
    {% capture my_toc %}{% endcapture %}
    {% assign min_level = include.min_level | default: 2 %}
    {% assign max_level = include.max_level | default: 4 %}

    {% for i in (2..max_level) %}
        {% assign h = "h" | append: i %}
        {% capture h_open %}<{{ h }} {% endcapture %}
        {% if forloop.first %}
            {% assign my_toc = include.html | split: h_open %}
        {% else %}
            {% assign new_parts = "" | split: "" %}
            {% for part in my_toc %}
                {% assign sub_parts = part | split: h_open %}
                {% for sub_part in sub_parts %}
                    {% assign new_parts = new_parts | push: sub_part %}
                {% endfor %}
            {% endfor %}
            {% assign my_toc = new_parts %}
        {% endif %}
    {% endfor %}

    {% capture list_items %}{% endcapture %}
    {% for part in my_toc offset:1 %}
        {% assign h_tag = part | slice: 0, 1 | append: ">" %}
        {% assign id_part = part | split: 'id="' | last %}
        {% assign id = id_part | split: '"' | first %}
        {% assign title = part | split: '>' | last | split: '</h' | first | strip_html | strip %}

        {% if id and title %}
            {% capture new_item %}<li style="margin-bottom: 5px;"><a href="#{{ id }}">{{ title }}</a></li>{% endcapture %}
            {% assign list_items = list_items | append: new_item %}
        {% endif %}
    {% endfor %}
{% endcapture %}
{% assign tocWorkspace = "" %}
<ul>{{ list_items }}</ul>
